@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-background dark:bg-black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.center {
  @apply justify-center items-center;
}

h1 {
  font-size: 25vw;
  @apply font-semibold tracking-tighter leading-none;
}

h2 {
  font-size: 9vw;
  @apply font-semibold tracking-tighter leading-none;
}

p {
  @apply font-medium text-sm md:text-base max-w-[54ch];
}

.panel p {
  @apply font-medium text-base md:text-xl;
}

.hamburger .pills {
  font-size: 9vw;
  @apply !border-none font-semibold tracking-tighter leading-none h-min bg-transparent  hover:text-black hover:bg-transparent text-black dark:text-background;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.big-link {
  font-size: 4vw;
  @apply font-semibold tracking-tighter leading-none underline-offset-[1.2vw] underline;
}

.path-second,
.path-third {
  stroke-dasharray: 28;
  stroke-dashoffset: 28;
  transition: stroke-dashoffset 0.5s ease-in-out;
}

.path-second:hover,
.path-third:hover {
  stroke-dashoffset: 0;
}

@media (max-width: 1024px) {
  .big-link {
    font-size: 6vw;
    @apply underline-offset-[2vw];
  }

  h2 {
    font-size: 10.5vw;
  }
}
